<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>Index</title>
  </head>

  <body>
    <h1>Go Starter</h1>
    <p>You can use <a href='https://www.postman.com/' target='_blank' rel='noreferrer'>Postman</a> for making requests</p>

    <h3>Adding a user</h3>
    <ul>
      <li>
        make a POST request to localhost:5000/signupemail?email=your-email.com
      </li>
      <li>
        check your email for the verification and click the link
      </li>
      <li>
        then make a POST request to localhost:5000/signuppassword?password=your-password
      </li>
    </ul>

    <h3>Sign In/Out</h3>
    <p>Sign in at localhost:5000/signin?email=your-email.com&password=your-password</p>

    <p>If signed in:</p>
    <ul>
      <li>View all users at localhost:5000/users</li>
      <li>View the current user at localhost:5000/user</li>
      <li>
        create (localhost:5000/savedata), read (localhost:5000/alldata), and update
        (localhost:5000/updatedata) any json data via the DataController - accepts raw json
      </li>
      <li>
        updating data can be done by adding the "id" from the json returned by savedata to the update json
      </li>
    </ul>

    <p>Sign out at localhost:5000/signout</p>
    <p>
      Tokens and Sessions expire after 10 minutes -
      this can be changed in utils/db.go -> line:54 -> ttl := int32(600)
    </p>

    <p>
      Changes to html require a manual restart
    </p>
  </body>

</html>
