<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Index</title>
</head>
<body>
  <h1>Go Starter</h1>

  <p>You can use <a href='https://www.postman.com/' target='_blank' rel='noreferrer'>Postman</a> for making requests</p>
  <p>Add a user by making a POST request to localhost:8080/signup with form values for email and password</p>
  <p>Sign out at localhost:8080/signout</p>
  <p>Sign in at localhost:8080/signin with form values for email and password</p>
  <p>If signed in:</p>
  <ul>
    <li>View all users at localhost:8080/users</li>
    <li>View the current user at localhost:8080/user</li>
  </ul>
</body>
</html>